<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

    <!-- "content" ==> layout.html에 있는 태그를 호출 -->
    <th:block layout:fragment="content">
        <main id="content">
            <h2>회원가입</h2>
            <form name="joinfrm" id="joinfrm" method="post">

                <div>
                    <label for="userid">아아디</label>
                    <input type="text" name="userid" id="userid">
                </div>

                <div>
                    <label for="passwd">비밀번호</label>
                    <input type="password" name="passwd" id="passwd">
                </div>

                <div>
                    <label for="repasswd">비밀번호 확인</label>
                    <input type="password" name="repasswd" id="repasswd">
                </div>

                <div>
                    <label for="name">이름</label>
                    <input type="text" name="name" id="name">
                </div>

                <div>
                    <label for="email">이메일</label>
                    <input type="text" name="email" id="email">
                </div>

                <div>
                    <img src="/image/captcha.png">
                </div>

                <div>
                    <button type="submit">입력완료</button>
                    <button type="reset">다시입력</button>
                </div>

            </form>
        </main>
    </th:block>

    <th:block layout:fragment="script">
        <script>
            const joinfrm = document.querySelector('#joinfrm')    // id로 target 함

            joinfrm.addEventListener("submit", (e) => {
                e.preventDefault(); // submit 버튼 기능 중지, 이 코드 미 작성 시 alert는 뜨지만 페이지는 이동함

                if (joinfrm.userid.value == '') {
                    alert('아이디를 입력하세요')
                    return false;
                } else if (joinfrm.passwd.value == '') {
                    alert('비밀번호를 입력하세요')
                    return false;
                }else if (joinfrm.repasswd.value == '') {
                    alert('비밀번호가 일치하지 않습니다')
                    return false;
                }else if (joinfrm.name.value == '') {
                    alert('이름를 입력하세요')
                    return false;
                }else if (joinfrm.email.value == '') {
                    alert('이메일을 입력하세요')
                    return false;
                }
                joinfrm.submit();   // 회원정보를 정상적으로 작성했다면
            });
        </script>
    </th:block>

</html>